---
import '@/scss/main.scss'
import { RootLayout } from '@/layouts'
import { Intro } from '@/components'
---

<RootLayout title="Felipe Damaceno | Frontend Developer">
  <main>
    <Intro />
  </main>
</RootLayout>
