---
import '@/scss/main.scss'

import { Experiences, Footer, Intro, Projects, Skills } from '@/components'

import { RootLayout } from '@/layouts'
---

<RootLayout title="Felipe Damaceno">
  <main>
    <Intro />

    <div class="flow">
      <Skills />
      <Experiences />
      <Projects />
      <Footer />
    </div>
  </main>
</RootLayout>

<style lang="scss">
  main {
    overflow: hidden;
  }

  .flow {
    --spacing: 6rem;

    @media (min-width: 800px) {
      --spacing: 10rem;
    }
  }
</style>
