---
import '@/scss/main.scss'

import {
  Experiences,
  Footer,
  Introduction,
  Projects,
  Skills
} from '@/components'

import { BaseLayout } from '@/layouts'
---

<BaseLayout title="Felipe Damaceno">
  <main>
    <Introduction />

    <div class="flow">
      <Skills />
      <Experiences />
      <Projects />
      <Footer />
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    overflow: hidden;
  }

  .flow {
    --spacing: 6rem;

    @media (min-width: 800px) {
      --spacing: 10rem;
    }
  }
</style>
