---
import type { Experience } from '@/types'

import experiences from '@/data/experiences.json'
---

<section class="container">
  <h2 class="section__title">me.<span>experiences()</span></h2>

  <div class="experiences flow">
    {
      experiences.map((experience: Experience) => (
        <div class="experience">
          <div class="headline">
            <h2 class="position">{experience.position}</h2>
            <small class="year">
              {experience.startYear} {'→'} {experience.endYear || 'Present'}
            </small>
          </div>
          <p class="company">{experience.company}</p>
          <p class="description">{experience.description}</p>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use '@/scss/colors' as *;

  section {
    display: grid;
    justify-content: center;
    gap: 1rem;

    @media (min-width: 800px) {
      grid-template-columns: 200px 1fr;
    }

    .experiences {
      border-left: 0.125rem solid map-get($colors, dark);
      padding-inline-start: 2rem;

      .experience {
        display: grid;
        align-items: center;
        position: relative;

        &::before {
          content: '•';
          color: map-get($colors, dark);
          font-size: 2.2rem;
          font-family: Arial, Helvetica, sans-serif;
          margin-inline-start: -2.425rem;
          position: absolute;
          top: -1rem;
        }

        .headline {
          @media (min-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .year {
            font-size: 0.9rem;
            font-weight: 500;
          }
        }

        .position {
          font-size: 1.15rem;
          font-weight: 500;
          line-height: 1.2;
        }

        .company {
          color: map-get($colors, gray);
        }

        .description {
          margin-top: 0.5rem;
        }
      }
    }
  }
</style>
