---
import links from '@/data/links.json'
import type { Link } from '@/types'

function getJavaScriptExpYears() {
  return new Date().getFullYear() - 2022
}
---

<section>
  <div class="container hero flow">
    <h2>Felipe Damaceno</h2>

    <p>
      <span class="highlight">{'<'}Frontend Developer{'/>'}</span> with {
        getJavaScriptExpYears
      } years of experience in JavaScript and TypeScript, specialized in crafting
      responsive, user-centric web applications. Strong in <span
        class="highlight">design</span
      > and <span class="highlight">UX/UI</span>, I combine technical expertise
      with a <span class="highlight">passion</span> for creating the best user-experience.
    </p>

    <p>
      My goal? To consistently deliver beautiful, user-friendly experiences that
      exceed expectations.
    </p>

    <div>
      <ul role="list">
        {
          links.map((link: Link) => (
            <li>
              <a href={link.href} target="_blank">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <style lang="scss">
    @use '@/scss/colors' as *;

    section {
      min-height: 100vh;
      position: relative;
      display: grid;
      place-items: center;
    }

    .hero {
      font-size: 1.25rem;
      position: relative;
      rotate: -1deg;

      .highlight {
        color: map-get($colors, accent);
        font-weight: 600;
      }

      h2 {
        font-family: 'Shadows Into Light', cursive;
        color: map-get($colors, accent);
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.25;
        rotate: -2.25deg;

        @media (min-width: 600px) {
          font-size: 5rem;
        }
      }

      h3 {
        color: map-get($colors, gray);
        font-size: 1.1rem;
        margin-top: 0.75rem;
      }

      ul {
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        gap: 1rem;

        li {
          display: flex;
          gap: 1rem;

          &:not(:last-child)::after {
            content: '\/';
          }
        }
      }
    }
  </style>
</section>
