---
import type { GitHubRepo } from '@/types'

import { getFeaturedRepositories, getResource } from '@/utils'

const BASE_URL = import.meta.env.GITHUB_API_BASE_URL
const REPOSITORIES_ENDPOINT = `${BASE_URL}/users/feliperdamaceno/repos`

const [resource, error] = await getResource<GitHubRepo[]>(REPOSITORIES_ENDPOINT)
const repositories: GitHubRepo[] = getFeaturedRepositories(resource || [])
---

<section class="container" aria-label="projects">
  <h2 class="section__title">me.<span>projects()</span></h2>

  <div class="flow">
    {
      error ? (
        <small class="error">
          Sorry, GitHub did not returned the repositories 🥲
        </small>
      ) : null
    }

    {
      repositories.map((repository) => (
        <div class="repository">
          <h2>
            <a href={repository.html_url} target="_blank">
              {repository.name.replace(/-/g, ' ')}
            </a>
          </h2>
          <p>{repository.description}</p>
          <small class="pill">{repository.language}</small>
        </div>
      ))
    }

    <a
      class="link"
      href="https://github.com/feliperdamaceno?tab=repositories"
      target="_blank"
    >
      View All
    </a>
  </div>
</section>

<style lang="scss">
  @use 'sass:map';
  @use '@/scss/colors' as *;

  section {
    display: grid;
    gap: 1rem;

    @media (min-width: 800px) {
      grid-template-columns: 200px 1fr;
    }
  }

  .flow {
    --spacing: 2rem;
  }

  .repository {
    display: grid;
    justify-items: start;
    gap: 0.25rem;

    h2 {
      font-size: 1.15rem;
      font-weight: 500;
      line-height: 1.2;
      text-transform: capitalize;
    }

    a {
      position: relative;

      &:before,
      &:after {
        color: transparent;
        position: absolute;
        transition: color ease-out 125ms;
      }

      &:before {
        content: '[';
        left: -0.5em;
      }

      &:after {
        content: ']';
        right: -0.5em;
      }

      &:hover:before,
      &:hover:after {
        color: map.get($colors, 'accent');
      }
    }
  }

  .pill {
    color: map.get($colors, 'light');
    background-color: map.get($colors, 'accent');
    font-size: 0.65em;
    font-weight: 500;
    text-transform: uppercase;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
  }

  .error {
    color: map.get($colors, 'error');
    font-size: 0.9em;
    font-weight: 500;
  }
</style>
