---
import skills from '@/data/skills.json'
import type { SkillSet } from '@/types'
---

<section class="container">
  <h2 class="section__title">me.<span>skills()</span></h2>

  <div class="skills" style={{ '--columns': skills.length }}>
    {
      skills.map((skillset: SkillSet) => (
        <div class="category flow" style={{ '--spacing': '0.5rem' }}>
          <h2>{skillset.category}</h2>

          <div>
            {skillset.skills.map((skill) => (
              <p>{skill}</p>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use '@/scss/colors' as *;

  section {
    display: grid;
    gap: 1rem;

    @media (min-width: 800px) {
      grid-template-columns: 200px 1fr;
    }

    .skills {
      display: grid;
      gap: 2rem;
      padding-inline-start: calc(2rem + 2px);

      @media (min-width: 400px) {
        grid-template-columns: repeat(calc(var(--columns) / 2), 1fr);
      }

      @media (min-width: 600px) {
        grid-template-columns: repeat(var(--columns), 1fr);
      }

      .category {
        h2 {
          font-size: 1.15rem;
          font-weight: 500;
          line-height: 1.2;
        }

        p {
          margin-top: 0.5rem;
        }
      }
    }
  }
</style>
