---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.net.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    ></script>
    <title>{title}</title>
  </head>

  <body>
    <slot />

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        // @ts-ignore
        VANTA.NET({
          el: 'body',
          color: 0xeeeeee,
          backgroundColor: 0xffffff,
          mouseControls: false,
          touchControls: false,
          gyroControls: false,
          showDots: false,
          minHeight: 200,
          minWidth: 200,
          maxDistance: 20,
          scale: 1,
          scaleMobile: 1,
          points: 12,
          spacing: 13
        })
      })
    </script>
  </body>
</html>
